#!/usr/bin/env bash

##========================================================================================
##                                                                                      ##
##                       SL-Tools (slFTP Tools) Edition community
##
##                Author:               ZarTeK (ZarTeK.Creole@gmail.com)
##            Website:              github.com/ZarTek-Creole/slTools
##       Bugs,idea,sugestion : github.com/ZarTek-Creole/slTools/issues/new
##                                                                                      ##
##========================================================================================

# Activer le mode DEBUG
DEBUG="0"

# Activer le mode LOG
LOG="0"

# Nom du fichier slftp (laisser par défaut)
slftp_binary_name="slftp"

# Nom du screen sous lequel slftp sera lancé
slftp_screen_name="slFTPScr"

# Répertoire slftp contenant les fichiers de données.
slftp_directory="/opt/slftp"

# La version de slftp à installer. Par exemple : 1.5.8, 1.5.9, dev
slftp_version="dev"

# Installation integrée comme commande système? (valeur booléenne)
slftp_wide_system="1"

# Nom de l'utilisateur -avec les droits sudo- sous lequel les instances doivent être lancées.
unix_user="sltools"

# Nom du groupe utilisateur -avec droits sudo- sous lequel les instances doivent être lancées.
unix_group="sltools"

# Redémarrer slftp en cas de fermeture de l'application? (valeur booléenne)
slftp_restart_onfailure="1"

# Délai d'attente avant de redémarrer lors de la fermeture de slftp.
# Temps en secondes, 0 valant aucune attente
restart_wait="5"

# Au (re)démarrage faut-il purger les fichiers ?
start_reset_files="1"

# Listes des fichiers à purger au (re)démarrage de slFTP Si start_reset_files est activé.
reset_list="slftp.kb slftp.speedstats slftp.history slftp.renames precatcher.log slftp.log databases/*.db"
