#!/usr/bin/env bash
###
#
# SL-Tools (slFTP Tools) Edition community
#
# Author:               ZarTeK (ZarTeK.Creole@gmail.com)
# Website:              https://github.com/ZarTek-Creole/slTools
# Bugs,idea,sugestion : https://github.com/ZarTek-Creole/slTools/issues/new
#
##

# Chemin vers l'éxécutable screen :
binary_screen=/usr/bin/screen

# Nous du fichier binaire de slftp (laissé par défaut)
slftp_binary_name=slftp
# 
# Le nom du screen sous lequel il sera lancé
slftp_screen_name=slFTPScr

# Répertoire slftp contenant les fichiers de données.
slftp_directory=/opt/slftp

# Installation integrée comme commande système? (valeur booléenne)
slftp_wide_system=1

# Nom de l'utilisateur -avec les droits sudo- sous lequel les instances doivent être lancées.
unix_user=slftp

# Nom du groupe utilisateur avec droits sudo sous lequel les instances doivent être lancées.
unix_group=slftp

# Redémarrer slftp en cas de fermeture de l'application? (valeur booléenne)
slftp_restart_onfailure=1

# combien de temps doit t'il attendre avant de redémmarer lors de la fermeture de slftp.
# Temps en secondes, 0 valant aucune attente
restart_wait=5

# au (re)démarrage faut-il reset les fichiers suivants ?
# stats.db slftp.history stats.db slftp.kb slftp.log
start_reset_files=1

# si start_reset_files est activé, reset_list contient la liste des fichiers à reset.
reset_list="slftp.kb slftp.speedstats slftp.history slftp.renames precatcher.log slftp.log databases/*.db"
